body {
background-color: white;
 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <nav>
    <li><a href="index.html"> Home </a></li>
    <li><a href="index.html"> My Apps </a>
        <li><a href="https://www.powayusd.com/en-US/Schools/HS/WVHS/HOME">  Westview </a>
    
  </nav>
 
  <br>
 
  h1 {
  background-color: #F1E3D3;
  color: #D88C9A;
  letterspacing: 5px;
  font-size: 300%;
    text-shadow: 2px 2px #8E7DBE;
}
p{
  color:#D88C9A;
  font-size: 200%;
}

</body>
</html>
}

nav{
  list-style-type: none;
  background-color: #567890;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
}
li{
  float: left;
}
li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 60px;
}
li a:hover {
  background-color: antiquewhite;
  color: black;
}

