body {
background-color: white;
}

  h1 {
  background-color: #F1E3D3;
  color: #D88C9A;
  letterspacing: 5px;
  font-size: 300%;
    text-shadow: 2px 2px #8E7DBE;
}
p{
  color:#D88C9A;
  font-size: 200%;
}
nav{
  list-style-type: none;
  background-color: #567890;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
}
li{
  float: left;
}
li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 60px;
}
li a:hover {
  background-color: antiquewhite;
  color: black;
}

